body {
	background-color: #fff;
    margin: 18px 15px 15px 190px;
    padding: 0px;
    border: 0px;
    font-size: 10pt;
	font-family: Tohoma, Verdana, sans-serif;
}

#nav-frame {
	font-size: 10pt;
}

div.section {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
}

div.subsection {
	margin-left: 15px;
	font-size: 9pt;
	margin-bottom: 2px;
}

div.section-selected {
	font-weight: bold;
	margin-bottom: 2px;
	margin-left: 2px;
}

dd {
	margin-bottom: 1em;
}

dl {
	margin-left: 20px;
}

dt {
	font-weight: bold;
	margin-bottom: 0.5em;
	color: #666;
}

h1 {
	color: #2A8FF3;;
	font-size: 14pt;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.5em;
}

h2 {
	color: #666;
	font-size: 12pt;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.5em;
	margin-top: 3em;
}

img {
	border: 0px;
}

li {
	margin-bottom: 0.2em;
}

p {
	margin-top: 0px;
	margin-bottom: 1em;
}

p.intro {
	font-size: 12pt;
}

table.thumbs {
	border: none;
	border-collapse: collapse;
	margin-top: 1em;
}

table.thumbs td {
	border: none;
	margin: none;
	padding: 0.2em;
	text-align: center;
	padding-bottom: 2em;
	vertical-align: top;
}

table.thumbs th {
	background-color: inherit;
	margin: none;
	border: none;
	border-top: 1px solid #666;
	padding: 0.2em;
	padding-top: 1em;
	text-align: center;
}

.code {
	border: 1px dashed #999;
	background-color: #ffc;
	padding: 0.1em;
	font-family: courier;
	font-size: 9pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	white-space: pre;
	width: auto;
	margin: 0pt 0pt 2em 2em;
}

/* ==============================
 * ID objects
 * ============================== */
 
#nav-frame {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 170px;
    height: 220px;
    border: 0px solid #909;
    display: block;
}

/* ==============================
 * Generic Frame classes
 * ============================== */

.frame-t {
	position: absolute;
	top: 0px;
	left: 0px;
    width: 100%;
    height: 23px;
    border: 0px solid #060;
    background: #fff url(img/tb_05.gif) repeat-x left top;
    z-index: 2;
}

.frame-m {
    position: absolute;
    top: 24px;
    bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px solid #060;
    background-color: #fff;
    overflow: hidden;
}

.frame-ml {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6px;
    height: 99%;
    bottom: 11px;
    border: 0px solid #000;
    background-color: #fff;
    background-image: url(img/tb_18.gif);
    z-index: 1;
}
.frame-mr {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 6px;
    height: 99%;
    border: 0px solid #000;
    background-color: #FFF;
    background-image: url(img/tb_23.gif);
    z-index: 1;
}
.frame-b {
    position: absolute;
    width: 100%;
    height: 11px;
    bottom: 0px;
    border: 0px solid #066;
    background: #FFF url(img/tb_27.gif) repeat-x left bottom;
    z-index: 2;
}

.frame-tl {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 11px;
    height: 23px;
    background: #FFF;
    z-index: 2;
}

.frame-tr {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 11px;
    height: 23px;
    background: #FFF;
}

.frame-bl {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 11px;
    height: 11px;
    background: #FFF;
}

.frame-br {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 11px;
    height: 11px;
    background: #FFF;
}
