body {
	margin: 12pt;
	background-color: #E1E6EF;
	font-family: "American Typewriter Light", Courier, monospace;
	font-size: 12pt;
	font-weight: lighter;
	line-height: 18pt;
}

p {
	font-family: "American Typewriter", Courier, monospace;
	font-size: 12pt;
	font-weight: lighter;
	line-height: 18pt;
}

form#loginForm {
	max-width: 456pt;
}

label {
	font-weight: normal;
}

h1 {
    background-color: inherit;
	color: #666;
	font-size: 24pt;
	font-weight: normal;
	border-bottom: 2px solid #c99;
	margin-bottom: 6pt;
	margin-top: 0;
}
