@charset "UTF-8";

body {
	margin: 20px;
	position: relative;
	font-family: "American Typewriter", Courier, monospace;
	font-size: 13px;
	font-weight: lighter;
	line-height: 18px;
	background: url("../img/whitey.png") repeat scroll 0% 0% #E1E6EF;
}

body.app {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

p {
	font-family: "American Typewriter", Courier, monospace;
	font-size: 13px;
	font-weight: lighter;
	line-height: 18px;
}

form#loginForm {
	max-width: 456px;
}

label {
	font-weight: bold;
}

.help-block {
	font-size: 10px;
}

.ui-elements {
	display: none;
}

div.tidbit {
	margin-bottom: 1em;
	background-color: #fafafa;
	padding-bottom: 6px;
	box-shadow: 2px 2px 5px #666;
	border-radius: 2px;
}

div.tidbit.card {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #ccc;
	color: inherit;
	max-width: 320px;
	background: url("../img/lined_paper_light.png") repeat fixed 0% 0% #fafafa;
	overflow: hidden;
	cursor: move;
}

div.tidbit.fac {
	cursor: auto;
}

div.tidbit h2 {
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
	margin: 0;
	padding: 0 60px 0 6px;
	border-bottom: 1px solid #fcc;
	color: inherit;
	background-color: #fafafa;
}

div.tidbit i.action {
	opacity: 0.25;
}

div.tidbit button.action {
	float: right;
	cursor: pointer;
	padding: 4px 8px;
	margin: 2px 0 0 0;
	border: none;
	background: none;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

div.tidbit i.icon-refresh-t.hit {
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  ease-in-out;
    -moz-animation-name:             	rotate; 
    -moz-animation-duration:         	0.5s; 
    -moz-animation-iteration-count:  	infinite;
    -moz-animation-timing-function:  	ease-in-out;
}

/* :before can't be animated, so have to manually apply this style */
div.tidbit i.ticon {
	font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}

div.tidbit dl {
	margin: 0px 6px 12px 6px;
	/*font-size: 12px;*/
}

div.tidbit dt,
div.tidbit dd {
	font-size: 12px;
	line-height: 15px;
}

div.tidbit dl dt {
	/*margin-top: 4px;*/
	font-weight: bold;
}

div.tidbit.card .content {
	max-height: 160px;
	overflow-y: hidden;
}

div.tidbit.card.fac .content {
	overflow-y: auto;
	/* Grr, this doesn't work on absolutely positioned elements?
	-webkit-overflow-scrolling: touch;
	*/
}

div.tidbit.card dd {
	max-height: 60px;
	overflow-y: hidden;
}

div.tidbit.card.fac dd {
	max-height: none;
	overflow-y: auto;
}

div.tidbit.card dl dt {
	float: left;
	clear: both;
}

div.tidbit dl dt::after {
	content: ': ';
}

div.tidbit dl dd {
	font-weight: normal;
}

div.tidbit.card dl dd {
	float: left;
}

div.tidbit.card dl dd + dd::before {
    color: #66F;
    content: ' • ';
}

#nav-search-tidbit-form {
    border-bottom: none;
    border-top: none;
    box-shadow: none;
    float: left;
    margin: inherit;
    padding: inherit;
    margin-bottom: 0;
    margin-top: 6px;
}

#nav-add {
	float: right;
}

#add-tidbit-modal {
	display: none;
}

.flipper-container {
    -webkit-perspective: 1000;
	overflow: visible !important;
}

.modal {
  background-color: transparent;
  border: none;

  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.flipper {
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	width: 560px;
	height: 480px;
	position: relative;
}

.flipper .face {
	position: absolute;
	width: 560px;
	height: 480px;
	background-color: white;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;

  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.flipper .face.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

#kind-table-body td {
	font-weight: normal;
	cursor: pointer;
}

#kind-table-body form {
	cursor: auto;
	margin: 0;
}

#kind-table-body form button {
	margin-left: 1em;
}

@media (min-width: 481px) {
	.form-horizontal .control-label {
		width: 80px;
	}
	
	.form-horizontal .controls {
		margin-left: 100px;
	}	
}

@media (max-width: 1023px) {
	#nav-other {
		display: none;
	}
}

@media (max-width: 639px) {
	.flipper,
	.flipper .face {
		width: 300px;
		height: 400px;
	}
}

