@charset "UTF-8";

body {
	margin: 0;
	background-color: #E1E6EF;
	padding-top: 40px;
	position: relative;
	font-family: "American Typewriter", Courier, monospace;
	font-size: 12pt;
	font-weight: lighter;
	line-height: 18pt;
	overflow: hidden;
}

p {
	font-family: "American Typewriter", Courier, monospace;
	font-size: 12pt;
	font-weight: lighter;
	line-height: 18pt;
}

form#loginForm {
	max-width: 456pt;
}

label {
	font-weight: bold;
}

.ui-elements {
	display: none;
}

div.tidbit {
	position: absolute;
	top: 25px;
	left: 25px;
	border: 1px solid #ccc;
	color: inherit;
	background-color: white;
	max-width: 240pt;
	max-height: 180pt;
	overflow: auto;
	box-shadow: 2px 2px 5px #666;
	border-radius: 2px;
}

div.tidbit h2 {
	font-size: 18pt;
	font-weight: normal;
	line-height: 22pt;
	margin: 0;
	padding: 0 24pt 0 6pt;
	border-bottom: 1pt solid #fcc;
}

div.tidbit i.icon-refresh {
	position: absolute;
	top: 4px;
	right: 4px;
	opacity: 0.25;
	cursor: pointer;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}


div.tidbit i.icon-refresh.hit {
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  ease-in-out;
}

div.tidbit dl {
	margin: 6pt;
	font-size: 11pt;
}

div.tidbit dl dt {
	margin-top: 4pt;
	font-weight: bold;
	float: left;
	clear: both;
}

div.tidbit dl dt::after {
	content: ': ';
}

div.tidbit dl dd {
	margin-top: 4pt;
	font-weight: normal;
	float: left;
}

div.tidbit dl dd + dd::before {
    color: #66F;
    content: ' • ';
}

#nav-search-tidbit-form {
    border-bottom: none;
    border-top: none;
    box-shadow: none;
    float: left;
    margin: inherit;
    padding: inherit;
    margin-bottom: 0;
    margin-top: 6px;
}

#nav-add {
	float: right;
}

@media (max-width: 1023px) {
	#nav-other {
		display: none;
	}
}
