<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2002-2005 Matt Magoffin
  
  This program is free software; you can redistribute it and/or 
  modify it under the terms of the GNU General Public License as 
  published by the Free Software Foundation; either version 2 of 
  the License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful, 
  but WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
  General Public License for more details.
  
  You should have received a copy of the GNU General Public License 
  along with this program; if not, write to the Free Software 
  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 
  02111-1307 USA

  $Id: web.xml,v 1.5 2007/02/09 22:25:40 matt Exp $
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   version="2.5"
   xsi:schemaLocation="
   	http://java.sun.com/xml/ns/javaee
   	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 

	<display-name>Tidbits</display-name>
    <description>Tidbits data wallet.</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/*-context.xml
			classpath:/security-context.xml
		</param-value>
	</context-param>
	
	<!--filter>
		<filter-name>Tidbits Setup Filter</filter-name>
		<filter-class>magoffin.matt.tidbits.web.SetupFilter</filter-class>
		<init-param>
			<param-name>keyPrefix</param-name>
			<param-value>env:</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Tidbits Setup Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping-->
	
	<!-- Security filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Compression filter -->
	<filter>
		<filter-name>Compression Filter</filter-name>
		<filter-class>org.mortbay.servlet.GzipFilter</filter-class>
		<init-param>
			<param-name>minGzipSize</param-name>
			<param-value>1024</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.xml</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>
	
	<!-- Character encoding filter -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	

	<!-- Static content client-side cache headers filter -->
	<filter>
		<filter-name>Client-side Cache Headers Filter</filter-name>
		<filter-class>magoffin.matt.xweb.util.ResponseHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>max-age=86400</param-value>
		</init-param>
	</filter>
	
	<!-- Cache filter -->
	<filter-mapping>
		<filter-name>Client-side Cache Headers Filter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Client-side Cache Headers Filter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Client-side Cache Headers Filter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Client-side Cache Headers Filter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Client-side Cache Headers Filter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Client-side Cache Headers Filter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Client-side Cache Headers Filter</filter-name>
		<url-pattern>/messages.json</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>tidbits</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>tidbits</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>tidbits</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>home.do</welcome-file>
	</welcome-file-list>
	
</web-app>
